html {
    height: 100%;
}

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    font-size: 1.0rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkslategrey;
}


.header a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.header a:hover {
    background-color: rgb(110, 182, 182);
    padding: 5px;
    border-radius: 5px;
}

h1 {
    font-size: 220%;
    text-align: center;
    color: white; 
    margin: auto;
    padding: 5px;
    font-weight: bolder;
}

.titulo {
    display: flex;
    margin: auto;
    border-radius: 10px;
    width: 400px;
    height: 60px;
}

img {
    max-width: 100%;
    display: block;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.529);
    border-radius: 8px;
}

div p {
    text-align: center;
    font-size: 1.1em;
    color: white;
    background-image: linear-gradient(to top, rgb(63, 132, 140), transparent);
    border-radius: 5px;
    font-weight: bolder;
}

.header {
    background: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.464);
}


.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin-left: 20px;
}

section div a:hover {
    padding: 5px;
    background-color: aliceblue;
    border-radius: 10px;
}

.footer {
    background: #000000;
    color: white;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    bottom: 0px;
}

#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-widht:600px) {
    
    .header {
        position: fixed;
        top: 0px;
        width: 100%;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.card {
    display: grid;
    align-items: center;
    grid-gap: 10px;

}

@media screen and (max-width:800px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width:700px) {   
    
    .logo {
        font-size: 130%;
        margin-top: 8px;
    }
    .nav-item {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;

    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }
}